<!DOCTYPE html>
<html>
<head>
  <title>Miranda</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="header">
      <div class="header__bar row">
        <li class="logo" style="float: left"><a href="/">Miranda</a></li>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <span>
              <ul class="user__info">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </ul>
            </span>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
          </div>
        <% end %>
      </div>
  </header>

  <div class="container" role="toolbar">
    <div class="row" role="group">
      <button type="button" class="col-md-4 btn btn-default btn-lg"><a href="/users/1>">マイページ</a></button>
      <button type="button" class="col-md-4 btn btn-default btn-lg"><a class="post" href="/companies/new">会社を追加する</a></button>
      <button type="button" class="col-md-4 btn btn-default btn-lg"><a class="post" href="/evaluations/new">会社を評価する</a></button>
    </div>
  </div>



    <%= yield %>

    <footer>
      <p>
        Copyright Miranda 2018.
      </p>
    </footer>
  </body>
</html>
